#email{
    text-align: right;
    opacity: ;
}
#name{
    text-align: center;
    min-height: 20px;
    font-size: 80px;
    padding-top: 15px;
    padding-bottom: 15px; 
    margin-top: 10px;
    color:whitesmoke;
    background-color:crimson;
    font-family: "Lucida Handwriting";
}

#menucolumn {
    float: left;
    width: 25%;
    text-align: center;
    }

#menurow:after {
    content: "";
    display: table;
    clear: both;
    }
#menurow{
    padding-block: 7px;
    background-color: crimson;
    margin-top: 5px;
}
#menulink:visited,#menulink:active,#menulink:hover,#menulink:link{
    text-decoration: none;
    cursor:pointer;
    font-size:20px;
    color:white;
}
#copy{
    background-color: lightgray;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
}